*{
    margin: 0;
    padding: 0;
}
nav{
    color: #fff;
    padding: 10px 10px 10px 30px;
    border-radius: 40px;}
    
body{
    background: lightslategray;
    font-size: 25px;
    font-family: 'poppin' Arial, Helvetica, sans-serif;
}
.container{
    width: 100;
    margin: 50;
}
.contact{
    text-align: center;
    margin-top: 100px;
}
.container h1{
    text-align: center;
}
.container p{
    margin-left: 150px;
    font-style: italic;
}